.route-schedule .tab_box .tab_btn.active {
  color: var(--dcl);
}

.dcl-color {
  color: var(--dcl);
}

.dclBanner {
  background-image: url(https://occtransport.s3.amazonaws.com/Website+Banners/DCL.jpeg);
}

.dcloutBanner {
  background-image: url(https://occtransport.s3.amazonaws.com/Website+Banners/DCL+Outbound.jpeg);
}

.dclinBanner {
  background-image: url(https://occtransport.s3.amazonaws.com/Website+Banners/DCL+Inbound.jpeg);
}

.dcl-border {
  border-top: 3px solid var(--dcl);
}

.dcl-bg {
  background-color: var(--dcl);
}

.dcl {
  background-color: var(--dcl);
  text-decoration: none;
  border: 4px solid black;
}
.dcl:hover {
  background-color: white;
  border: 4px solid var(--dcl);
}
.dcl h2 {
  color: white;
}
.dcl:hover h2 {
  color: var(--dcl);
}
.dcl h4 {
  color: white;
}
.dcl:hover h4 {
  color: var(--dcl);
}
.dcl p {
  color: white;
}
.dcl:hover p {
  color: var(--dcl);
}